*{

 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}



.main-section{
  display: grid;
  grid-template-columns: repeat(5,minmax(200px,1fr));
  margin-top: 150px;

}


.main-section p {
  font-size: 30px;
  font-weight: 400;
  color: #333;
  text-align: center;
  grid-column: 4/5;
  margin-top: 150px;
  text-shadow: 1px 1px #496685;
  text-align: center;
}

.main-section p span {
  font-weight: 700;
  color:linear-gradient(135deg, #355070, #6d597a); /* Change to your brand color */
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 25px;
}

.main-section p span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #007BFF;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.main-section p span:hover {
  color: #FF5733; /* Change color on hover */
  transform: scale(1.1);
}

.main-section p span:hover:after {
  transform: scaleX(1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.main-section p span {
  animation: pulse 2s infinite ease-in-out;
}



/*------------------------------------- image---------------------------------*/

#img-section1 {
  width: 400px !important;
  /* height: auto;  */
  animation: fade-in-out 5s ease infinite;
  grid-column: 2/3;
  margin-top: 80px;
  cursor: pointer;
  filter: drop-shadow(0 5px 2px #6d597a );
  margin-left: -50px;
}


#img-section1:hover {
  animation-play-state: paused;
}



@keyframes fade-in-out {
  0% {
    opacity: 0;  
    transform: translateY(0);
  }
  50% {
    opacity: 1;  
    transform: translateY(-20px); 
  }
  100% {
    opacity: 1;  
    transform: translateY(0);
  }
}



/*--------------------------------------------------------------------------------------*/

.box1 {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 10px;
  border-bottom: solid #6d597a;
}

.box1:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box1:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box1:hover {
  box-shadow: 0 5px 15px #6d597a;
  border-radius: 10px;
}

.box1:hover:before {
  border-color: #6d597a;;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
  border-radius: 10px;
}

.box1:hover:after {
  border-color: #6d597a;;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
  border-radius: 10px;
}

#first-btn {
  color: #6d597a;;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  display: flex;
  grid-column: 3/4;
  margin-left: 70px;
  margin-top: 50px;
  border-radius: 10px;

}







/*==========================================================================================*/

